<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">Election Petition</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Our firm has successfully defended election petitions filed against some elected Senators, Members of House of Representatives, Houses of Assembly and Chairmen of Local Government Councils. The firm is either briefed by the individuals concerned or by the Independent National Electoral Commission.</P>


<P>
  <a href="tel:+2348066053162">
    <ion-button expand="block" class="ion-padding"> <ion-icon slot="start" name="call-outline"></ion-icon><p>Call US</p> </ion-button>
</a>  </P>

</ion-content>
