ion-toolbar {
    --background: #023e8a !important;
  }
  
  ion-back-button{
    --color: white !important;
  }
  
  
  .element {
  
    transform: translateY(-20px);
  }
  
  
  p{
    font-family:OpenSans;
  
  }
  
  h1
  {
    font-family:OpenSans-Bold;
  }
  