

<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" (Click)="openBrowser()">

  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;" class="ion-padding">DIVORCE & CHILD CUSTODY</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">We are committed to making a positive difference in the lives of our clients. We Will assist you in filing for divorce, responding to divorce proceedings, and representing you at a hearing.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Our team of lawyers includes independently accredited specialists in divorce, matrimonial finance, and children law, as well as prenuptial and postnuptial agreements,cohabitation, child abduction and adoption.</P>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
  Our attorneys are known for being excellent strategists who are also highly intelligent and incisive. Our divorce attorneys are sensitive to the needs of your family and work hard to provide our clients with fair settlements.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">We handle all aspects of divorce, including property, complex financial arrangements, international divorce, and business assets.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;"><br> <br>
  <ion-button expand="block" class="ion-padding" [routerLink]="['/choosereg']" class="routes" > <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>Apply</p> </ion-button>


</P>



</ion-content>

