
<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

<h1 style="text-align: center;">Letters of Administration</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">It is always a difficult and disappointing moment for beneficiaries and dependents of the deceased when they are asked to get Letters of Administration before they can claim the monies or assets the deceased left behind in the bank or with the Pension Fund Administrators.</P>



<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Some may even want to sell off the property of the deceased in order to temporarily sustain themselves but only to find it difficult to get a serious buyer because they cannot pass a valid title to the buyer without the Letters of Administration or Grant of Probate as the case may be.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">It can take years before they obtain the Letters of Administration and receive the said death benefits or monies in bank if they choose to do it themselves and not seek expert advice. <br><br>
  <ion-button expand="block" class="ion-padding" (click)="openBrowser()"> <ion-icon slot="start" name="cart-outline"></ion-icon> <p>APPLY FOR THE LETTERS</p> </ion-button>
  <br>
</P>





</ion-content>
