

<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" (Click)="openBrowser()">

  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">COMPANY REGISTRATION</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">A company is a corporate structure with separate legal personality status. It is statutorily regulated and incorporated for the purpose of profit maximization. </P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">All companies, whether a private company limited by shares, private unlimited or a company limited by guarantee must be registered in accordance with the Companies and Allied Matters Act (CAMA), which is the principal law that regulates companies in Nigeria. The requirements for registering a company in Nigeria are straightforward with no intricacies</P>

<h2 style="text-align:center;">Requirements</h2>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Two suitable names for the company, type of company to be registered, the address of the company, details of the shareholders of the company, the share capital and shareholding formula, particulars of the company secretary
  <br> <br>
  <ion-button expand="block" class="ion-padding" [routerLink]="['/choosereg']" class="routes" > <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>REGISTER</p> </ion-button>


</P>



</ion-content>

