<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/lawfirmlogoAsset 3mdpi.png"></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">SIMPLY PROBATE</h1><P style="font-size: 15px; padding-left: 20px; padding-right: 20px;"> Most people hate to think about the fact that they will one day travel to the world beyond or that one day, their consciousness and decision-making power Will cease. Whether because of the uncertainty of life or because of the certainty of death for human beings, it is important to have this one important document called “WILL”.</P>

<p style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
  You need a WILL if you work and are Pension-compliant, own a house, own a business (solely or jointly with other persons), own some intellectual properties, copyright, monies in bank, shares and stocks or other personal chattels.

  Remember that the law says that upon the death of a person, it is illegal for anybody including a family member of a deceased person, to withdraw money from the account of a deceased person. No bank or financial institution Will release any money to the beneficiaries, even to pay for the funeral expenses without the beneficiaries first producing a Will and Grant of Probate (where the deceased died testate) or Letters of Administration (where there is no Will).

</p>

<p style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Having a Will makes the Grant of Probate process easier, faster and less cumbersome. Requirements for Publication Fees, waiting for 21 days after publication to entertain objections, production of two Sureties with landed property within the State, and the other stress encountered with the process of getting Letters of Administration are totally eliminated if a person dies making a Will.



<br>

<ion-button expand="block" class="ion-padding" [routerLink]="['/simplyprobate']" class="routes" > <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>Proceed</p> </ion-button>
</p>



</ion-content>
