

<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" >
    <ion-icon slot="start" name="information-circle" (click)="showAlert()"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h2 style="text-align: center;">Choose Company to Register</h2>



<br>
<ion-list [routerLink]="['/proceedbusinesname']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Business Name</h3>
      <p>N25,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/proceedonemillion']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>LTD with 1 Million Share Capital</h3>
      <p>N50,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/proceedtwomillion']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>LTD with 2 Million Share Capital</h3>
      <p>N100,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/proceedthreemillion']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>LTD with 3 Million Share Capital</h3>
      <p>N120,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/fourmillion']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>LTD with 4 Million Share Capital</h3>
      <p>N150,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/fivemillion']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>LTD with 5 Million Share Capital</h3>
      <p>N230,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/tenmillion']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>LTD with 10 Million Share Capital</h3>
      <p>N300,000.00</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>

</ion-content>

