

<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" >

  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">SIMPLE WILL</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;"> Before you make this Will, please note these 5 salient points: <br><br>

  1. Making  this Will automatically cancels any former Will you must have made anywhere and at any time.<br><br>

  2. Availability of executors at the same place and time is the secret to a fast execution of Will. For this reason we have suggested our Solicitors as Executors and your family members as Alternate Executors to ensure transparency and speed.<br><br>

  3. Treat your Will discreetly and confidentially. It is not for public consumption.<br><br>

  4. We will issue you a Probate Certificate once you deposit your Will with us as evidence that your Will is in our custody.<br><br>

  5. If you keep custody of your Will by yourself after signing it, who will execute it? It is safe to keep custody of your Will at the Probate or with your Lawyer.<br><br>

  6. If you have lived a complicated lifestyle, own a very large estate or business, need additional professional Executors, appoint your own Executors, disinherit any of your beneficiaries,  please give us a call. We will consider your peculiar circumstance(s) and tailor a befitting Will for you.<br><br>

  7. Our goal is to ensure that all Nigerians can get a Will from any part of the world and without breaking the bank</P>






<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
  <br>
  <ion-button expand="block" class="ion-padding" (click)="openPage()"> <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>Sole Executor Will</p> </ion-button>
  <br>
  <ion-button expand="block" class="ion-padding" (click)="SecondPage()"> <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>Co Executor Will</p> </ion-button>


</P>



</ion-content>

