<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">


  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/iconmonstr-clipboard-6-240.png"></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>
<br>
<ion-list [routerLink]="['/simplyprobate']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Simply Probate</h3>
      <p>Our Probate Practise</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/elect']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Election Petition</h3>
      <p>Sui generis</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/coop']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Corporate Matters</h3>
      <p>All corporate Matters</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>

</ion-content>
