

<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-icon (click)="openBrowser()" slot="start" name="mail-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/free.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">FREE LEGAL SERVICES</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">There is a deliberate policy in place to ensure that legal services are available to everyone. </P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">This policy is based on our opinion that the most valuable contribution we can make to society as a law firm is to use our knowledge and skills to have a real difference on the lives of the less fortunate, the ignorant, by bridging the gap in access to rights, services, and justice.</P>



<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">We have a long history of providing pro bono legal services, and we take on a substantial number of pro bono cases each year. We routinely encourage our lawyers to volunteer for pro bono work early in their careers, and we also support lawyers who volunteer for pro bono work that is outside of their practice areas.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;"> All pro bono work that the firm undertakes is handled like all billable matters, with the dedication of all available firm resources appropriate to the needs of the representation.</P>

<ion-button (click)="openBrowser()" expand="block" class="ion-padding">  <ion-icon slot="start" name="mail-outline"></ion-icon> <p>Apply</p> </ion-button>
<br><br>
</ion-content>
