<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/iconmonstr-lock-22-240.png"></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">PRIVACY POLICY</h1>
<H1 style="text-align: center;">Bennybonny Chambers</H1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Attorney-Client privilege has long been regarded as one of the oldest and most sacred privileges in evidence law. The privilege was established to protect the attorney from having to testify against his client under oath, as such testimony would be a breach of the attorney's honor as a gentleman.</P>



<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">At its most basic, the Attorney-Client privilege ensures that "anyone seeking advice or assistance from a lawyer should be completely free of any fear that his confidential data,secret or information Will be revealed.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Under Nigerian law, privilege is provided for in Section 192 of the Evidence Act: It states:
  No Legal Practitioner shall at any time be permitted, unless with his client’s express consent,
  to disclose any communication made to him in the course and for the purpose of his
  employment as such legal practitioner by or on behalf of his client, or to state the contents
  or conditions of any document with which he has become acquainted in the course and for the
  purpose of his professional employment or to disclose any advice given by him to his client in
  the course and for the purpose of such employment."</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">On this basis, information, data, secrets, revealed and communicated to us during the course of our employment as your legal practitioner are privileged and we are bound by law not to share or reveal such information.</P>

</ion-content>
