
<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" (Click)="openBrowser()">

  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">Legal Representation In Court</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Litigation is sometimes an unavoidable method of resolving a dispute. As a full service law firm, we ensure our clients; both foreign and local, are effectively represented in all matters. As committed legal practitioners, we advise against hasty disputes but when litigation becomes inevitable, we take it up, even to the apex level provided it Will be in the interest of our clients.</P>


<P>
  <a href="tel:+2348066053162">
    <ion-button expand="block" class="ion-padding"> <ion-icon slot="start" name="call-outline"></ion-icon><p>Call US</p> </ion-button>
</a>  </P>


</ion-content>

