<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">
<ion-list [routerLink]="['/companyregrequirments']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Company Registration</h3>
      <p>Name Search / Registration</p>
    </ion-label>
  </ion-item>
</ion-list>


<br>
<ion-list [routerLink]="['/lettersofadministration']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconmonstr-script-5-120.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Letters of Administration</h3>
      <p>Obtain Property of the deceased</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>

<ion-list [routerLink]="['/caveat']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Caveat</h3>
      <p>Object to a Letter of Administration</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/drafting']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Draft / Review Agreements</h3>
      <p>We also help negotiate / review contracts</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>


<ion-list [routerLink]="['/simplewill']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Simple Will</h3>
      <p>Get a Simple Will</p>
    </ion-label>
  </ion-item>
</ion-list>


<br>

<ion-list [routerLink]="['/lodgwillservices']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Lodgement of Will Services</h3>
      <p>Lodge your Will in court</p>
    </ion-label>
  </ion-item>
</ion-list>

<br>
<ion-list [routerLink]="['/applybail']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Apply for Bail</h3>
      <p>The temporary release of an accused person</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/divorcecustody']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Divorce & Child Custody</h3>
      <p>Representation at hearing</p>
    </ion-label>
  </ion-item>
</ion-list>

<br>
<ion-list [routerLink]="['/powerofattorney']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Power of Attorney</h3>
      <p>Get an instant Power of Attorney</p>
    </ion-label>
  </ion-item>
</ion-list>
<br>
<ion-list [routerLink]="['/criminaldefence']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png">
    </ion-thumbnail>    <ion-label>
      <h3>Representation in Court</h3>
      <p>Instant Representation</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
