<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>



<ion-card>
  <img src="/assets/images/Screenshot_20211129-090605.png" >

</ion-card>


<ion-card class="dot">

  <p style="padding-left:10px; padding-right:10px; text-align:center;" >Barr. Nnamdi Benjamin Azikiwe Mofunanya</p>

</ion-card>



<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Barr. Nnamdi Benjamin Azikiwe Mofunanya, otherwise fondly known as “NBA” among lawyers, is a brilliant and consummate litigator.
  Barr. Mofunanya who is an alumnus of the prestigious University of Nigeria Nsukka (UNN) was called to the Nigerian Bar in 1989. He subsequently proceeded to University of Lagos where he obtained a Masters Degree in Law
  <br><br>
  <img src="/assets/images/Screenshot_20211129-080924.png" width="500" height="400" class="center">
  <br><br>
  Barr. Mofunanya started his professional career in 1993 in the Finance Industry where he worked as a legal officer and subsequently company secretary in LOND & HUDDS LIMITED, a blue chip financial institution based in South-West Ikoyi, Lagos. Barr. Mofunanya also worked as Company Secretary in BAILEY BRIDGES NIGERIA LIMITED, an oil service company with operational bases in both Lagos and Port Harcourt.
</P>
  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">

    With this early exposure to Corporate and Commercial practice, Barr. Mofunanya, in the year 2000, while partnering with other versatile, brilliant and experienced advocates, launched into full private legal practice. Since then he has handled a lot of important and very controversial cases. These include: MIDEAST NIGERIA LMITED V. INTERNATIONAL FINANCE CORPORATION, UNION BANK OF NIGERIA PLC & ASSET MANAGEMENT CORPORATION OF NIGERIA V. MR. THOMAS I. AGBONKHESE, EVARIST UMEUGO V. ECOBANK NIGERIA LIMITED among others.</P>


  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Barr. Mofunanya has also undertaken research and writing projects in the area of Human Rights Law. His latest effort in this direction is titled “UNITED NATIONS, HUMAN RIGHTS AND THE FIGHT AGAINST TERRORISM”.
    </P>
  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
    Barr. Mofunanya, aside being a principal partner in the law office of N.B.A. MOFUNANYA & CO. is also currently the Chairman of the CENTER FOR THE PROMOTION OF FUNDAMENTAL FREEDOM AND SOCIAL JUSTICE (“the Freedom Center”)
    Barr. N.B.A. Mofunanya is married and blessed with children. </P>




</ion-content>
