  <ion-toolbar>
  <button ion-button icon-only clear style="float: right;margin-right: 25px; background-color: transparent;" (click)="start()">
    <img src="/assets/images/iconmonstr-log-out-9-240.png" style="width: 30px;" >
  </button>
  </ion-toolbar>

<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="/assets/images/undraw_Connected_re_lmq2.svg">
        <h1 style="color: white;">Welcome to our law Firm, Bennybonny Chambers</h1>
        <p class="ion-padding" style="color: white;">Our Goal is helping you get Justice</p>
        <ion-button shape="round" (click)="next()" color="white">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="/assets/images/undraw_My_documents_re_13dc.svg">
        <h1  style="color: white;">Legal Filing</h1>
        <p  class="ion-padding" style="color: white;">We help file your case & represent you in court</p>
        <ion-button shape="round" (click)="next()" color="white">Next</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="light">
        <img src="/assets/images/undraw_Agreement_re_d4dv.svg" style>
        <h1 style="color: white;">Legal Drafting</h1>
        <p style="color: white;" class="ion-padding">We also help draft, review and negotiate your contracts</p>
        <ion-button shape="round" (click)="next()" color="white">Next</ion-button>
      </ion-text>
    </ion-slide>



    <ion-slide>
      <ion-text color="light">
        <img src="/assets/images/undraw_conference_call_b0w6.svg" style>
        <h1 style="color: white;">Probono services</h1>
        <p style="color: white;" class="ion-padding" >We also offer free legal services, if you Apply</p>

        <ion-button shape="round" (click)="next()" color="white">Next</ion-button>


         </ion-text>



    </ion-slide>

    <ion-slide>
      <ion-text color="light">

         <img src="/assets/images/undraw_Push_notifications_re_t84m.svg" alt="" srcset="">

        <h1 style="color: white;">Bennybonny Chambers </h1>
        <p style="color: white;" class="ion-padding"> Barristers and Solicitors of the Supreme Court</p>
        <ion-button shape="round" (click)="start()" color="white">Start</ion-button>
      </ion-text>
    </ion-slide>



  </ion-slides>

</ion-content>
