<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/iconmonstr-help-2-240.png"></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>
<div style="padding-left: 20px; padding-right: 20px;">
  <h1 style="text-align: center;">FREE LEGAL TIPS</h1>
  <H5 style="text-align: center;">1. Never Sign Anything Without Getting a Copy</H5>

  <p>A huge majority of these cases would be resolved if every client had a copy of the agreement that they signed. When they do, we are able to clearly point out to the other party what they are obligated to do under the contract and they are much more willing to step up and do it. Save yourself potential thousands of Naira and up to several years in court by asking for a copy, or if that’s not convenient, quickly snapping a picture of every document you ever sign.</p>

  <H5 style="text-align: center;">2. Don’t Delay, Create a Will or Trust</H5>

  <p>
    No matter what stage of life you are in, everyone needs some form of a Will, trust, or estate plan. In our practice, we see that life is fragile, and families are so grateful to know the wishes of the deceased when any death, expected or not, occurs. Even if you don’t have a lot of assets, everyone should have in place a document outlining their wishes upon their death, including the guardianship of minor children, the distribution of personal items, and the management or care of pets, property, or anything else for which they are responsible.
  </p>
  <H5 style="text-align: center;">3.  Don’t Admit Liability Until You Talk to a lawyer</H5>
  <p>
    One unfortunate fact of life is that what you say under the stress of a particular moment very often comes back to haunt you. We have clients every day that find themselves on the hook for much more than they should be, simply because they spoke rashly without realizing the legal ramifications. In the event that there is an accident or that an individual or company claims that you acted wrongly, it is ok to simply remain silent and, if necessary, wait until you are able to speak to an attorney.
  </p>

  <P>
    <a href="tel:+2348066053162">
      <ion-button expand="block" class="ion-padding"> <ion-icon slot="start" name="call-outline"></ion-icon><p>Call US</p> </ion-button>
  </a>  </P>

</div>

</ion-content>
