

<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" (Click)="openBrowser()">

  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/favpng_coat-of-arms-of-nigeria-flag-of-nigeria-national-symbol.png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">LODGE DETACHED WILL</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">A Detached Will is a Will lodged with or stored at the Probate after the death of the testator/testatrix. An Ordinary Will is the Will lodged at the Probate during the lifetime of the testator/testatrix.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">

</P>
<h2 style="text-align:center;">Requirements</h2>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;"> If the Testator/Testatrix died within 3 months to the date of lodgment, the fee for lodgement of the Detached Will is N50,000.00
  <br> <br>
  If the Testator/Testatrix died 3 months after the date of lodgment, the fee for lodgement of the Detached Will is N120,000.00
  <br>
  <br><ion-button expand="block" class="ion-padding" (click)="openBrowser()" class="routes" > <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>Within 3 Months</p> </ion-button>
  <br>
  <ion-button expand="block" class="ion-padding" (click)="openBrowserhideaddress()"  class="routes" > <ion-icon slot="start" name="cart-outline"></ion-icon> <ion-icon slot="end" name="arrow-forward"></ion-icon> <p>After 3 Months</p> </ion-button>


</P>



</ion-content>
