
<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>

  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/iconmonstr-user-29-240 (1).png" ></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<ion-list [routerLink]="['/bennybonny']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconmonstr-id-card-4-240.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Eucharia BennyBonny </h3>
      <p>Managing Partner</p>
    </ion-label>
  </ion-item>
  </ion-list>
  <br>
  <ion-list [routerLink]="['/nnamdi']" class="routes">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconmonstr-id-card-3-240 (1).png">
    </ion-thumbnail>
    <ion-label>
      <h3>Nnamdi Benjamin Azikwe</h3>
      <p>Associate</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
