<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="/assets/images/svg.png" alt="" srcset="">

  <ion-grid> <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div class="element"><img src="/assets/images/iconmonstr-id-card-15-240 (2).png"></div>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


</ion-grid>

<h1 style="text-align: center;">Bennybonny Chambers</h1>
<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">We are a full-service law firm, & an International Legal Services Provider. As a firm, we understand that many aspects of today's legal landscape require a thorough knowledge of the law.</P>



<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">We provide solutions to the often complex arrays of legal problems and regulations that help confront clients today, thereby fostering legal environments that are favorable to our clients.</P>

<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">One of our core values at BennyBonny Chambers is listening. We don't just tell you what the law says, we use the law as tool to help navigate your legal problems</P>
</ion-content>
