<ion-header>
  <ion-toolbar> <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>



<ion-card>
  <img src="/assets/images/Screenshot_20211124-090048 (1).png" >

</ion-card>

<a href="tel:+2348066053162">
<ion-card class="dot">

  <p style="padding-left:10px; padding-right:10px; text-align:center;" >  Talk to BENNYBONNY EUCHARIA </p>

</ion-card>
</a>


<P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Bennybonny Eucharia Nwakego ( LL.B, BL, ACPM) is the Principal Partner of Bennybonny Chambers, a Law firm having its head office at Ikeja, Lagos and duly registered with the Corporate Affairs Commission. <br><br>

  Called to the Nigerian Bar in 2012, she has been in active legal practice till date. She served as a Youth Corper in the Nasarawa State Ministry of Justice, Lafia in 2012/2013.
  <br><br>
  <img src="/assets/images/AYF_2019.JPG" width="500" height="400" class="center">
  <br><br>
  She completed her Youth Service in Okorie and Okorie where she worked for several years and rose through the ranks to become the Head of Chambers.</P>
  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">

  To buttress her Wills Services and  Executorship capacity,  she has verily served as a co-executor and Solicitor-trustee in various Wills of many scheme members of the Staff Union in Nigerian Breweries Plc, Seven-up Bottling Company Plc, Unilever Nigeria Plc, PZ Cussons Plc, WAMCO Nigeria Plc, Niger Biscuit Co. Ltd, Nigerite Ltd, ASSBIFI, to mention but a few, under the Group Legal Protection Scheme.</P>


  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">Her first port of call daily is the Court, next is the Probate. This makes for her versatility in all areas of Law; both contentious and non-contentious issues.</P>
  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
  Her areas of Practice include Civil and Criminal law, Group Legal Protection Schemes, Property and Probate practice, Corporate and Commercial law practice, Trademark and Company registrations, Arbitration (ADR) practice, Election Petitions, Banking, Finance & Insurance Law, Divorce and Child Custody cases, Consumer Protection cases, Personal Injury and Accident claims, Copyright infringement and Data Protection cases, Wills and Letters of Administration, Taxation and Double-taxation Laws, Legal Drafting and Review, etc. </P>

  <P style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
  Bennybonny Eucharia Esq. networks with over 30 Lawyers across Nigeria and partners with various law firms. She is in  strong associateship with N.B.A  Mofunanya & Co.   <br><br>
  <img src="/assets/images/IMG-20211123-WA0008.jpg"  class="center" >
  <br><br>

  She is a Christian and married with children.

</P>

</ion-content>
